@font-face {
    font-family: 'BebasNeue';
    src: local('BebasNeue'), url(./BebasNeue-Regular.ttf) format('truetype');
}

body {
    margin: 0;
    font-family: BebasNeue;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}