$color-black: #000;
$color-white: #fff;
$color-grey: #282c34;
$color-dark-grey: #1f1f23;
$color-green: #3f803f;
$color-light-green: #ade5a9;
$color-red: #f73d3d;
$color-light-red: #b87e7c;
$color-yellow: #f5db50;

.App-header {
    background-color: $color-dark-grey;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $color-white;
}

.panel {
    border: solid $color-dark-grey;
    border-left-width: 1vh;
    border-right-width: 1vh;
    border-top-width: 1vh;
}

.panel-player {
    height: 34vh;
    background-color: $color-grey;
}

.panel-control {
    float: left;
    height: 28vh;
}

.panel-timer {
    cursor: pointer;
    float: right;
    font-size: 23vh;
    height: 28vh;
    padding-right: 0.1em;
    padding-left: 0.1em;
}

.panel-player-adv-pen {
    cursor: pointer;
    float: right;
    font-size: 3vh;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 0.3em;
}

.panel-player-adv-pen-score {
    font-size: 11vh;
}

.panel-player-points {
    cursor: pointer;
    float: right;
    font-size: 28vh;
    font-weight: bold;
    width: 1em;
    padding-right: 0.05em;
    padding-left: 0.05em;
}

.points-p1 {
    background-color: $color-yellow;
    color: $color-green;
}

.points-p2 {
    background-color: $color-black;
    color: $color-white;
}

.player-name-input {
    border: none;
}

.panel-player-control {
    cursor: pointer;
    float: left;
}

.panel-player-control div {
    float: left;
}

.flags-select ul {
    background-color: $color-grey;
}

.flags-select div {
    background-color: $color-grey;
}

input {
    background-color: $color-grey;
    color: #fff;
}

button {
    background-color: $color-black;
    color: $color-white;
    border: none;
    cursor: pointer;
    padding: 2vh 2vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    text-align: center;
    display: inline-block;
    font-size: 1.5vh;
}

.positive {
    color: $color-light-green;
}

.negative {
    color: $color-light-red;
}

.time-over {
    color: $color-red;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    border-radius: 4px;
    padding: 25px;
    background: $color-dark-grey;
    color: $color-white;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.35);
}

#player-panel-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 33% 33% 33%;
}

#player-panel-info-grid {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: span 2;

    display: grid;
    grid-template-rows: auto auto; /* 5 rows */
    grid-template-columns: 150px 400px; /* 5 columns, equal width */
}

#player-flag-select {
    grid-row: 1;
    grid-column: 1;
    padding: 10px
}

#player-flag {
    grid-row: 2;
    grid-column: 1;
    padding: 10px
}

#player-name {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column: 2;
    padding: 10px;
}

#player-panel-controls-grid {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: span 2;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
}

#player-panel-score {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column: 3;
    padding: 10px
}