$color-light-green: #ade5a9;
$color-light-red: #b87e7c;
$color-red: #f73d3d;
$color-dark-grey: #1f1f23;
$color-grey: #282c34;

.App-header {
    background-color: $color-dark-grey;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.panel {
    border: solid $color-dark-grey;
    border-left-width: 1vh;
    border-right-width: 1vh;
    border-top-width: 1vh;
}

.panel-player {
    height: 34vh;
    background-color: $color-grey;
}

.panel-control {
    float: left;
    height: 28vh;
}

.panel-timer {
    cursor: pointer;
    float: right;
    font-size: 23vh;
    height: 28vh;
    padding-right: 0.1em;
    padding-left: 0.1em;
}

.panel-player-adv-pen {
    cursor: pointer;
    float: right;
    font-size: 3vh;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 0.3em;
}

.panel-player-adv-pen-score {
    font-size: 11vh;
}

.panel-player-points {
    cursor: pointer;
    float: right;
    font-size: 28vh;
    font-weight: bold;
    width: 1em;
    padding-right: 0.05em;
    padding-left: 0.05em;
}

.points-p1 {
    background-color: #f5db50;
    color: #3f803f;
}

.points-p2 {
    background-color: black;
    color: white;
}

.panel-player-control {
    cursor: pointer;
    float: left;
}

.flags-select ul {
    background-color: $color-grey;
}

.flags-select div {
    background-color: $color-grey;
}

input {
    background-color: $color-grey;
    color: #fff;
}

button {
    background-color: #000;
    border: none;
    color: white;
    cursor: pointer;
    padding: 2vh 2vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    text-align: center;
    display: inline-block;
    font-size: 1.5vh;
}

.positive {
    color: $color-light-green;
}

.negative {
    color: $color-light-red;
}

.time-over {
    color: $color-red;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    border-radius: 4px;
    padding: 25px;
    background: $color-dark-grey;
    color: white;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.35);
}